
@import "bootstrap/scss/bootstrap";

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
);
 














@media screen and(max-width:600px) {
    body{
        background-color: aqua;
        padding: 20px;
    }
   
  #home{
    height:100vh;
  } 
  #about{
    height:100vh;
  } 
  #center{
    height:100vh;
  }
  #login{
    height:60vh;
  } 
  #icons{
    height:100vh;
  } 
  #map{
    height: 150vh;
  }
  #last{
    height:100vh;
  }

#product{
    height:100vh;

}
#footer{
    height:150vh;
    
}
}




 .container-fluid{
   
background-color: grey;
box-shadow: 5px 5px 20px rgb(0,0,0,0.5);
}
.navbar{
    border: 2px gray;
    position: sticky;
    width: 100%;
    
}
.navbar-brand img{
    border-radius: 50px;
}
.nav-item{
margin-left: 10px;
padding: 15px;
text-align: center;
}
.nav-item a{
    margin-left: 20px;
    color:white;
    border-bottom: 2px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item a:hover{
    background-color: crimson;
    }
    .navbar-brand{
        padding:12px;
        font-size: 25px;
        font-weight: 800;
        } 
        
    .fixed-top{
        
        border: 2px solid grey;
    
        background-color: aliceblue;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }
    .fixed-top img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .d-flex{
        margin-left: 500px;
        margin-top: 10px;
    }
    
.d-flex input{
    width: 100%;
}
.d-flex button{
    height: 38px;
    background-color: green;
    color: black;
}


    section{
        max-width: 105vw;
    
    }
  

.para{
background: url('./bck1.jpg');
opacity: .8;
background-position: center;    
background-size: cover;
height: 550px;
text-align: center;
margin:50px;
position: absolute;
width:97vw;
}

#home h3{
font-size: 40px;
margin-top: 200px;
color:white;
text-shadow: 6px 7px black; 
}
#home p{
    font-size: larger;
    text-align: center;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
#home button{
   
    background-color:  green;
    opacity: .9;
    color: black;
    
}
#home button:hover{
    background-color: blue;
}

section{
    height: 100vh;
}
.row h1{
    text-align: center;
   
    margin-top: -70px;
}
#about{
    background-color: darksalmon;
    height: 280px;
    margin-top: 10px;
}
#about .p1{
   margin-top: 30px;
}
#about img{
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 20px;
    
}
#about button{
    margin-top: 14px;
    background-color: green;
    
}
#about button:hover{
    background-color: tomato;
}
#product{
    background-color: palevioletred;
    height: 800px;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700px;
    text-align: center;
    margin-left: 150px;
    text-shadow: 5px 5px 20px white;
}
#product img{
    margin-top: 10px;
    border-radius: 20px;
    width: 270px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background-color: darkcyan;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3);
                 inset: 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;             
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3);
                inset: -4px -4px 10px white;
    transition: -2s;

}    

#center{
    margin: 20px 30px 30px 20px;
}
#center img{
    box-shadow: 15px 30px 20px rgba(0,0,0,.3);
    margin-top: 30px;
    margin-left: 10px;
    opacity: .8;

}
#card btn-primary{
color: black;
}
#center p{
   position: absolute;
    margin-top: -280px;
    margin-left: 60px;    
    text-shadow: 4px 4px 4px white;
    font-size: 30px;
}
#login{
    margin-top: -250px;
   border: #212529;
   background-color: grey;
   box-shadow: 20px 2px 15px 7px black;
   height: 500px;
}
#login h1{
    text-align: center;
    margin-left: 240px;
    text-shadow: 4px 4px 5px white;

}
#login form{
    margin-top: 50px;
    width: 250px;
    color: blue;
    
}
#login img{
    margin-right: 100px;
    box-shadow: 3px 5px 4px 3px rgb(161, 140, 140);
    border-radius: 40px;
    margin-bottom: 10px;
}
#login button{
    margin-top: 20px;
    background-color: green;
    width: 80px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);

}
#login button:hover{
    background-color: tomato;
}
#login input,textarea{
    border: 2px solid black;
    background-color: wheat;
}
#login a{
    color: black;
}
#icons {
    margin-top: 50px;
    
    margin-right: 40px;
    margin-top: 50px;
    height: 50px;
 }
#icons h4{
    
    font-family: cursive;
}
#icons i:hover{
     transform: scale(1.1);
}
.con{
    padding: 40px 600px;
    margin: 15px 40px;
}
#map h3{
    text-align: center;
    margin-top: 270px;
    color:hotpink;
    text-shadow: 2px 3px 2px blue;
    size: 50px;
}
#map iframe{
    width: 1100px;
    margin-left: 10vw;
    margin-top: 70px;
} 
hr{
    size: 10px;
    color: black;
}
#footer{
    margin-top: 60px;
    background-color:#343a40;
    color: white;
    height: 250px;
}
#footer h4{
    margin-left: 40px;
    margin-top: 40px;
    color: black;
    text-shadow: 0px 5px 6px#6c757d;
}
#footer p{
    margin-left: 40px;
    margin-top: 20px;
}
#last{
    background-color: black;
    margin-top: -5px;
    height: 100px;
    
}
#last i{
    
    margin-top: 15px;
    
    color: white;
    width: 6px;
    margin-left: 40px;
}
#last i:hover{
    color: blue;
    
    transform: scale(1.1);
}

#last p{
   
    font-size: 20px;
   margin-top: 30px;
    color: white;
    
}
#last p:hover{
    background-color:green;
}
#icons i:hover{
transform: scale(1.4);
}
.icon{
    gap: 40px;
    padding: 20px 30px 40px 20px;
}
#last .row{
    gap: 60px;
    padding:30px;
    display: flex;
}

